nav {
  background-color: #fbc57f;
  height: 130px;
  width: 1190px;
}

#logo {
  height: 85px;
  width: 350px;
}

.card {
  width: 380px;
}

body {
  background-color: #626e60;
  padding: 38px;
  font: 14px "Raleway", sans-serif;
}

a {
  color: #e88557;
}

#welcome {
  background-image: url("../images/background.png");
  height: 400px;
  width: 1190px;
}
