<%- include('../partials/header') %>

<h2>Add a new business</h2>
<form action="/posts" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" />
  <br />
  <label for="location">Location:</label>
  <input type="text" id="location" name="location" />
  <input type="submit" value="Add" />
</form>

<%- include('../partials/footer') %>
