<%- include('../partials/header') %>

<h3>Add a new business</h3>
<form action="/posts" method="POST">
  <label id="name" for="name">Name:</label>
  <input type="text" id="name" name="name" />
  <br />
  <label id="location" for="location">Location:</label>
  <input type="text" id="location" name="location" />
  <input id="add" type="submit" value="Add" />
</form>

<%- include('../partials/footer') %>
