<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
  </head>
  <body>
    <section id="show-page">
      <div>Name:</div>
      <div><%= business.name %></div>
      <div>Location:</div>
      <div><%= business.location %></div>
    </section>
  </body>
</html>
